<div class="container md">
    <div class=row>
        <div class="col-md-12 col-xs-12">
        <h1>Thanks for signing in!</h1>
        </div>
    </div>
    <div class=row>
        <div class="col-md-12 col-xs-12">
        <p id="centerbtn"><a href="/locations" class="btn btn-primary">See locations</a></p>
        </div>
    </div>
    </div>