<div class="container md">
<h1>Check-in a Flavor</h1>
</div>
    <div class=row>
        <div class="col-md-3 col-xs-1">  
        </div>
        <div class="col-md-6 col-xs-10">  
            <form action="/check_in" method="post">
            <div class="form-group">
                <label>Flavor</label>
                <select class=form-control id="flavordrop" name="flavor">
                        <option value=1>Brambelberry Crisp</option>
                        <option value=2>Salted Peanut Butter with Chocolate Flecks)</option>
                        <option value=3>Wildberry Lavender</option>
                        <option value=4>Cream Puff</option>
                        <option value=5>Black Cat Espresso</option>
                        <option value=6>Churro</option>
                        <option value=7>Pistachio & Honey</option>
                </select>
            </div>
            <div class="form-group">
                <label>Looaction</label>
                <select class=form-control id="locationdrop" name="location">
                        <option value=1>Southport</option>
                        <option value=2>Wicker Park</option>
                        <option value=3>Armitage</option>
                        <option value=4>North Wells</option>
                </select>
            </div>
            <div class="form-group">
                <label>Rating</label>
                 <select class=form-control id="rating" name="rating">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                </select>
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-3 col-xs-1">  
        </div>
    </div>
</div>